td {
   padding:0; margin:0;
}

table {
   border-collapse: collapse;
   border-spacing: 0px;
}

#type {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}